 git config --global user.email "vikramgauravsingh@live.com"
  git config --global user.name "vikramgauravsingh"node_modules
package-lock.json
.DS_*
logs
**/*.backup.*
**/*.back.*
build

bower_components

*.sublime*

psd
thumb
sketch